name: build
permissions:
  contents: write
on:
  workflow_dispatch:
  schedule:
    - cron: '*/5 * * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: pipx install poetry
    - uses: actions/setup-python@v4
      with:
        python-version-file: '.python-version'
        cache: 'poetry'
    - run: poetry install
    - run: |
        source $(poetry env info --path)/bin/activate
        python make_image.py
        git config user.name 'stringertheory'
        git config user.email '<mike.stringer.internet@gmail.com>'
        git add image.svg
        git commit -m 'auto-update'
        git push
